{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'base/site.webmanifest'%}">
    <!-- Bootstrap CSS -->
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href="{% static 'customer/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'customer/main.css' %}">
{#    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script type="text/javascript" src="{% static 'customer/menu.js' %}"></script>
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">#}
   {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>user board</title>
    {% endif %}
</head>
<body >

<header class="site-header">

</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_view' %}">
            <div class="input-group">
              <input type="text" name="search" style="width: 200px" class="form-control border-right-0 border-info" placeholder="...">
              <div class="input-group-append">
                <button type="submit"  class="btn btn-outline-info border-left-0" type="button">Поиск</button>
              </div>
            </div>
    </form>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категория
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in menu %}
                <a class = 'dropdown-item' href="{{ cat.get_abs_url }}" title="{{ cat.get_abs_url }}" ><img src="{{ cat.icon }}" class="cat_icon" >{{ cat.name }}</a>
            {% endfor %}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user_order' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'su_register' %}">REGISTER SUPERUSER</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'category_view' 'top' %}">SHOW DB</a>
      </li>
    </ul>
  </div>
</nav>




<div class="container-fluid">
    <div class="row">
    <div class="col-xl-10" style="background-color:white;">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                {{message}}
                </div>
            {% endfor %}
        {% endif %}
{% block pagination_top %}
{% endblock pagination_top %}

    <!-- Breadcrumb -->
{% if breadcrumbs %}
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'top' %}">Всё</a></li>
              {% for crumb in breadcrumbs %}
                  {% if forloop.last %}
                  <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
                  {% else %}
                      <li class="breadcrumb-item"><a href="{{crumb.get_abs_url}}">{{ crumb.name }}</a></li>
                  {% endif %}
              {% endfor %}
          </ol>
    </nav>
{% endif %}
    <!-- Breadcrumb -->
        {% block content %}{% endblock %}
{% block pagination_bottom %}
{% endblock pagination_bottom %}

    </div>
   <!--main -->
    <!--login -->
    <div class="col-sm-2" style="background-color:lavender;">
        <div class="container-fluid">
                {% if user.is_authenticated %}
                        <div class="col ">
                            {% if user.su_additional.uuid_for_reg %}
                            <div class="col-sm-8"><a href="{% url 'register_uuid' user.su_additional.uuid_for_reg  %}">Add NEW User?</a> </div>
                            {% endif %}
                            <div class="col-sm-12" align="right">{{user.su_additional.uuid_for_reg}}</div>
                            <div class="col-sm-12" align="right">You are logged as {{user.username}}</div>
                        </div>
                                <div class="row">
                                    <div class="col-sm-8"> </div>
                                    <div class="col-sm-2" align="right"></div>
                                    <div class="col-sm-2" align="right"><a href="{% url 'logout' %}">Logout</a></div>
                                </div>
                    {% block action_form %}
                    {% endblock action_form %}
                {% else %}
                         <div class="row ">
                            <div class="col-sm-8">
                                <a href="{% url 'login' %}">Have a login?</a>
                            </div>
                        </div>

                {% endif %}
         </div>
   </div>
    <!--login -->
</div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8"><h1>FOOTER</h1></div>
            <div class="col-lg-2"></div>

        </div>
    </div>

</div>
</body>
</html>



