{% extends 'customer/base.html' %}
{% block content %}
 <div class="card-deck">
    {% for card in   user_orders  %}
 <div class="card">
    <img class="card-img-top w-100 h-auto" src="{{card.item_id.base_photo_url}}{{ card.item_id.agg_photos.0 }}/400.jpg" alt="{{ card.item_id.name |slice:":25" }}">
    <div class="card-body">
       <a href="{% url 'product_view' card.item_id.id %}"> <h5 class="card-title">{{ card.item_id.name |slice:":30" }}</h5></a>
      <p class="card.item_id.text">
          {% autoescape on %}
             {{ card.item_id.description |slice:'3:60' }}
          {% endautoescape %}
      <a href="{% url 'product_view' card.item_id.id %}"><small>Подробнее</small></a>
      </p>
    </div>
          <form method="post" action="{% url 'save_order' %}">
            {% csrf_token %}
              <div class="form-group row m-2">
                    <input id="id" type="hidden"  name="id" value="{{ card.item_id.id }}" >
                  <div class="col-xs-4 m-1">
                    <label for="amount">количество</label>
                  </div>
                  <div class="col-xs-4 m-1">
                     <input class="amount_number" id="amount"  type="number"  name="quantity" min="0" value="1">
                  </div>
                  <div class="col-xs-4 m-1">
                    <button type="submit" class="button btn-success">Заказать</button>
                  </div>
              </div>
          </form>
    <div class="card-footer">
        <div class="row">
            <div class="col col-5"><small class="text-muted">{{card.item_id.price}} руб.</small></div>
            <div class="col col-2"></div>
            <div class="col col-5"><small class="text-muted">{{card.item_id.min_qty}} шт.</small></div>
        </div>
                <div class="row">
            <div class="col col-5"><small class="text-muted">ваш заказ {{card.quantity}} шт.</small></div>
            <div class="col col-2"></div>
            <div class="col col-5"><small class="text-muted">общий заказ {{card.group_order.total_quantity}} шт.</small></div>
        </div>
    </div>
  </div>
        {% if forloop.counter|divisibleby:'4' %}
            </div>

             {% if  not forloop.last %}
            <div class="card-deck">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
